#config start
heart_beat_millisec = 5
sync_beat_millisec = 5
network_timeout = 60
tracker_info_address_ip = 127.0.0.1
tracker_info_address_port = 8000
network_thread_num = 1
storage_port_of_myself = 9001
group_id_of_myself = 0
check_count_stamp_millisec = 5
sync_connect_millisec = 5
storage_id_of_myself = -1
#config end
